*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100wh;
    text-align: center;
    background-color: rgb(202, 200, 200);
}

nav{
    border: 2px solid black;
    padding: 20px;
}

span{
    display: block;
}

.button{
    height: 100px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    margin-top: 100px;
}

#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
h2{
    margin-top: 50px;
}